<div *ngIf="categoryModel" class="flex justify-center ">
    <div class="flex flex-col items-center justify-center bg-gray-100 dark:bg-gray-800 backdrop-filter backdrop-blur-md dark:bg-opacity-70 p-10">
        <span *ngIf="!fromDialog" class="flex text-lg mb-3 dark:text-yellow-400  text-indigo-500 font-bold	">{{categoryData.Naziv}} • {{'UREDITE_KATEGORIJU' | translate}}</span>
        <form class="w-full max-w-lg" [formGroup]="editForm">
            <div class="flex flex-wrap -mx-3">
                <div class="w-full  px-3 mb-6 md:mb-2">
                    <span class="p-float-label w-full">
                        <input class="w-full" pInputText required type="text" formControlName="Naziv"/>
                        <label for="input-username">{{ 'NAZIV_POTKATEGORIJE' | translate }}</label>
                    </span>
                </div>
                <div class="w-full  px-3 mb-6 md:mb-2">
                    <span class="p-float-label w-full">
                        <textarea class="w-full" pInputText type="text" formControlName="Opis"></textarea>
                        <label for="input-username">{{ 'OPIS' | translate }}</label>
                    </span>
                </div>
                <div class="w-full px-3 mb-6 md:mb-2">
                    <button pRipple pButton [label]="'SPREMI' | translate" class="w-full" (click)="updateCategory()" [disabled]="checkValidForm(editForm)"></button>
                </div>
            </div>
        </form>
    </div>
</div>