:host ::ng-deep { 
  p-confirmDialog {
    &.globalConfirm {
      .p-dialog-footer{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        @media (min-width:640px) {
        flex-direction: row;

        }
      }
    }
  }
}

:host ::ng-deep .custom-scrolltop{

    background-color: var(--primary-color);

    &:hover {
        background-color: var(--primary-color);
    }

    .p-scrolltop-icon {
        font-size: 1rem;
        color: var(--primary-color-text);
    }
}
