<ng-container *ngIf="user?.PkUsera; else loginRef">
	<div *ngIf="avatar; else initialsButtonRef" pRipple (click)="menu.toggle($event)" class="rounded-full select-none  w-11 h-11 cursor-pointer">
		<img [default]="true" [src]="avatar | sanitizeUrl" alt="user-avatar.png" class="w-11 h-11 object-cover">
	</div>


	<p-menu appendTo="body" #menu [popup]="true" [model]="items"></p-menu>
</ng-container>

<ng-template #loginRef>
	<a [routerLink]="['/login']">
		<div pRipple class="rounded-full select-none dark:bg-indigo-500 dark:hover:bg-indigo-600 bg-indigo-600 py-2 px-3 leading-7 text-white mr-4 cursor-pointer transition-colors hover:bg-indigo-500">
			<i class="pi pi-fw pi-sign-in"></i>
		</div>
	</a>
</ng-template>

<ng-template #initialsButtonRef>
	<div pRipple (click)="menu.toggle($event)" class="rounded-full select-none dark:bg-indigo-500 dark:hover:bg-indigo-600 bg-indigo-600 py-2 px-3 leading-7 text-white mr-4 cursor-pointer transition-colors hover:bg-indigo-500">
		{{ initials }}
	</div>
</ng-template>